## Build artifacts
bin/
obj/
out/

## Azure Functions
local.settings.json
.azurefunctions/

## VS / Rider / VS Code
.vs/
.idea/
*.user

## Azurite (local storage emulator)
__azurite_db*.json
__blobstorage__/
__queuestorage__/
